{% extends 'base.html' %}

{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="dashboard">
        <div class="panel panel-success">

            <div class="panel-heading">
                <span class="fa fa-dashboard"></span> {{ username|capitalize }} Dashboard
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-8 col-sm-offset-2">

                        <div>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#dashboard" aria-controls="dashboard" role="tab" data-toggle="tab"><span><i class="fa fa-dashboard"></i> </span>Dashboard</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="dashboard">

                                    <div class="">
                                    {% if shopping_lists %}
                                        <table class="table table-bordered">
                                            <caption>My Shopping lists <span class="badge">{{ shopping_lists|count }}</span></caption>
                                            <thead>
                                            <tr>
                                                <th>Shopping list No</th>
                                                <th>Name</th>
                                                <th>Date Created</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for shl in shopping_lists %}
                                                <tr>
                                                    <td>#{{ loop.index }}</td>
                                                    <td>{{ shl.get('name') }}</td>
                                                    <td>{{ shl.get('shl').date_added }}</td>
                                                    <td>
                                                        <div class="ui compact selection dropdown" id="action">
                                                            <i class="dropdown icon"></i>
                                                            <div class="text">Action</div>
                                                            <div class="menu">
                                                                <a class="item" href="{{ url_for('shopping-list-detail', name=shl.get('name')) }}">
                                                                    <i class="fa fa-eye text-info"></i> <small>view</small>
                                                                </a>
                                                                <a class="item" href="{{ url_for('update-shopping-list', name=shl.get('name')) }}">
                                                                    <i class="fa fa-pencil text-info"></i> <small>edit</small>
                                                                </a>
                                                                <a class="item" href="{{ url_for('remove-shopping-list', name=shl.get('name') ) }}">
                                                                    <i class="fa fa-trash text-danger"></i> <small>delete</small>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <div class="well">
                                            <p class="text-center">You do not have any shopping lists yet, create some using the link below.</p>
                                        </div>
                                    {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-offset-4">

                                        <div class="thumbnail text-center add-new-list">
                                            <a class="ui green basic button" href="{{ url_for('create-shopping-list') }}"><span><i class="fa fa-plus"></i> </span> Add new list</a>
                                        </div>

                                    </div>
                                    </div>

                                </div>
                            </div>

                            </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}