{% extends 'base.html' %}

{% block content %}
<div class="container index">
    <div class="panel panel-default index-panel">
        <div class="panel-heading">
            Added Shopping Lists
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 jumbotron">
                    <h4 class="panel-heading text-center">There are no shopping lists available currently</h4>
                    <p class="text-primary text-center">Be the first to add yours and share with your friends</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
