{% extends 'base.html' %}

{% block content %}
<div class="container index">
    <div class="row jumbotron">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1 class="text-center">Shopping List App</h1>
            </div>
        </div>

        <div class="col-md-6 col-sm-offset-3 text-center">
            <div class="text-center">
                {% if is_auth %}
                    <p><a class="massive ui basic green button" href="{{ url_for('dashboard') }}">Get Started  <i class="fa fa-arrow-right"></i> </a></p>
                {% else %}
                    <p><a class="massive ui blue button" href="{{ url_for('register') }}"><span><i class="fa fa-bell"></i> </span>Register or Login to get Started</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
