{% extends 'base.html' %}


{% block content %}

<div class="sign-up">
<div class="col-md-6 col-sm-offset-3">
    <div class="modal-dialog" style="margin-bottom:0">
        <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Register
                    </div>
                    <div class="panel-body">
                    <blockquote>
                        All the fields are required
                    </blockquote>

                    <form method="post" action="{{ url_for('register') }}">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon username-addon">
                                    <span class=""><i class="fa fa-user"></i></span>
                                </div>
                                {{ form.username }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span><i class="fa fa-at"></i></span>
                                </div>
                                {{ form.email }}
                            </div>
                            {% if form.email.errors %}
                                <ul>
                                    {% for error in form.email.errors %}
                                        <li>
                                        <small class="form-error"><strong>{{ form.email.label }}: </strong>{{ error }}</small>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span><i class="fa fa-lock"></i></span>
                                </div>
                                {{ form.password }}
                            </div>
                            {% if form.password.errors %}
                                <ul>
                                    {% for error in form.password.errors %}
                                        <li><small class="form-error"><strong>{{ form.password.label }}: </strong>{{ error }}</small></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span><i class="fa fa-lock"></i></span>
                                </div>
                                {{ form.confirm }}
                            </div>
                            {% if form.confirm.errors %}
                                <ul>
                                    {% for error in form.confirm.errors %}
                                        <hr/>
                                        <li>
                                            <small class="form-error"><strong>{{ form.confirm.label }}: </strong>{{ error }}</small>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <button type="submit" class="ui green basic button">Sign up</button>

                        <span class="pull-right">Have an account? <a href="{{ url_for('login') }}">Sign in</a></span>

                    </form>
                    </div>
                </div>
        </div>
    </div>
    </div>


{% endblock content %}