{% extends 'base.html' %}


{% block content %}

    <div class="container">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

        <div class="col-md-6 col-sm-offset-3">
            <div class="panel">
                <div class="panel-success">
                    <div class="panel-heading">
                        <h4>About Shopping List</h4>
                    </div>
                    <div class="panel-body">
                        <p class="text-justify">Shopping List is a web application that allows users to create and log in to their created accounts.
                        </p>
                        <p class="text-justify">
                        Logged in users can create, view, update and delete shopping lists, they can also add create, add, update and add shopping items to the shopping list.</p>
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock content %}