{% extends 'base.html' %}


{% block content %}

    <div class="container">
        <div class="col-md-6 col-sm-offset-3">
            <h3 class="text-center page-header">
                Create Shopping List
            </h3>

            {% with shl_name_errors = form.name.errors  %}
                {% if shl_name_errors %}
                    <ul class="list-unstyled">
                        {% for error in shl_name_errors %}
                            <li class="form-error">
                                <small>{{ error }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <form class="form-inline" method="post" action="{{ url_for('create-shopping-list') }}">
                <div class="form-group">
                    <div class="ui input">
                        {{ form.name }}
                    </div>
                </div>
                <input type="submit" class="ui green button" value="Create Shopping List"/>
            </form>

        </div>
    </div>

{% endblock content %}