{% extends 'base.html' %}


{% block content %}


    <div class="">

    <div class="col-md-12">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h5><span><i class="fa fa-list"></i></span> {{ obj.get('name') }}</h5>
        </div>

        <div class="panel-body">
        <hr/>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Bought</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in obj.get('shl').items %}
                    <tr>
                        <td>
                            <input type="checkbox" class="checkbox" {% if item.checked %} checked {% endif %}/>
                        </td>
                        <td>{{ item.name }} </td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.total_price }}</td>
                        <td>
                            <div class="ui compact selection dropdown" id="action">
                                <i class="dropdown icon"></i>
                                <div class="text">Action</div>
                                <div class="menu">
                                    <a class="item" href="{{ url_for('update-item', sname=obj.get('name'), iname=item.name ) }}">
                                        <span class="text-info item-edit text-center">
                                            <i class="fa fa-edit"></i> <small>edit</small>
                                        </span>
                                    </a>

                                    <a class="item" href="{{ url_for('remove-shopping-item', name=obj.get('name'), item_name=item.name ) }}">
                                        <span class="text-danger item-delete text-center">
                                            <i class="fa fa-trash"></i> <small>delete</small>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                 <tr>
                     <form method="post">
                         <td></td>
                         <td colspan="">
                             {% with item_name_errors = form.item_name.errors  %}
                                 {{ form.item_name }}
                                 {% if item_name_errors %}
                                     <ul class="list-unstyled">
                                         {% for error in item_name_errors %}
                                             <li class="form-error">
                                                 <small>{{ error }}</small>
                                             </li>
                                         {% endfor %}
                                     </ul>
                                 {% endif %}
                             {% endwith %}
                         </td>
                         <td colspan="">
                             {% with quantity_errors = form.quantity.errors  %}
                                 {{ form.quantity }}
                                 {% if quantity_errors %}
                                     <ul class="list-unstyled">
                                         {% for error in quantity_errors %}
                                             <li class="form-error">
                                                 <small>{{ error }}</small>
                                             </li>
                                         {% endfor %}
                                     </ul>
                                 {% endif %}
                             {% endwith %}
                         </td>

                         <td colspan="">
                             {% with price_errors = form.price.errors  %}
                                 {{ form.price }}
                                 {% if price_errors %}
                                     <ul class="list-unstyled">
                                         {% for error in price_errors %}
                                             <li class="form-error">
                                                 <small>{{ error }}</small>
                                             </li>
                                         {% endfor %}
                                     </ul>
                                 {% endif %}
                             {% endwith %}
                         </td>

                        <td></td>

                         <td colspan="2">
                             <button type="submit" class="ui green basic button"><span><i class='fa fa-plus'></i></span> <small>Add</small></button>
                         </td>
                     </form>
                 </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer text-center">
{#            <a href="#" class="btn btn-success btn-lg btn-block">Update Shopping List</a>#}
        </div>
    </div>

    </div>

    </div>


{% endblock content %}