<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/bower_components/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/bower_components/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/app/themes/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/app/css/style.css') }}">
</head>
<body>

{% include 'includes/navbar.html' %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}

{% endblock content %}

<script type="application/javascript" src="{{ url_for('static', filename='assets/bower_components/jquery/dist/jquery.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='assets/bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='assets/app/js/main.js') }}"></script>
<script>

</script>
</body>
</html>