{% extends 'base.html' %}

{% block content %}
<div class="container index">
    <div class="panel panel-default index-panel">
        <div class="panel-heading">
            Shared Shopping Lists
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel inner-item-panel">
                        <div class="panel-heading">
                            <h3>Shopping list for user1</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group shopping-list">
                                <li class="list-group-item">
                                    <span class="id">List 1</span>
                                    <span class="date"> Added on 09/09/2017</span>
                                    <span class="pull-right"><a href="" class="btn btn-success btn-xs">
                                        <span> <i class="fa fa-link"></i>
                                        </span>View</a>
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="id">List 1</span>
                                    <span class="date"> Added on 09/09/2017</span>
                                    <span class="pull-right"><a href="" class="btn btn-success btn-xs">
                                        <span> <i class="fa fa-link"></i>
                                        </span>View</a>
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="id">List 1</span>
                                    <span class="date"> Added on 09/09/2017</span>
                                    <span class="pull-right"><a href="" class="btn btn-success btn-xs">
                                        <span> <i class="fa fa-link"></i>
                                        </span>View</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel inner-item-panel">
                        <div class="panel-heading">
                            <h3>Shopping list for user2</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group shopping-list">
                                <li class="list-group-item">
                                    <span class="id">List 1</span>
                                    <span class="date"> Added on 09/09/2017</span>
                                    <span class="pull-right"><a href="" class="btn btn-success btn-xs">
                                        <span> <i class="fa fa-link"></i>
                                        </span>View</a>
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="id">List 1</span>
                                    <span class="date"> Added on 09/09/2017</span>
                                    <span class="pull-right"><a href="" class="btn btn-success btn-xs">
                                        <span> <i class="fa fa-link"></i>
                                        </span>View</a>
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="id">List 1</span>
                                    <span class="date"> Added on 09/09/2017</span>
                                    <span class="pull-right"><a href="" class="btn btn-success btn-xs">
                                        <span> <i class="fa fa-link"></i>
                                        </span>View</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel inner-item-panel">
                        <div class="panel-heading">
                            <h3>Shopping list for user3</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group shopping-list">
                                <li class="list-group-item">
                                    <span class="id">List 1</span>
                                    <span class="date"> Added on 09/09/2017</span>
                                    <span class="pull-right"><a href="" class="btn btn-success btn-xs">
                                        <span> <i class="fa fa-link"></i>
                                        </span>View</a>
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="id">List 1</span>
                                    <span class="date"> Added on 09/09/2017</span>
                                    <span class="pull-right"><a href="" class="btn btn-success btn-xs">
                                        <span> <i class="fa fa-link"></i>
                                        </span>View</a>
                                    </span>
                                </li>
                                <li class="list-group-item">
                                    <span class="id">List 1</span>
                                    <span class="date"> Added on 09/09/2017</span>
                                    <span class="pull-right"><a href="" class="btn btn-success btn-xs">
                                        <span> <i class="fa fa-link"></i>
                                        </span>View</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
