{% extends 'base.html' %}


{% block content %}

<div class="sign-up">
<div class="col-md-6 col-sm-offset-3">
    <div class="modal-dialog" style="margin-bottom:0">
        <div class="modal-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Register
                    </div>
                    <div class="panel-body">
                    <blockquote>
                        All the fields are required
                    </blockquote>

                    <form method="post" action="{{ url_for('register') }}">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon username-addon">
                                    <span class=""><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" name='username' id="id_username" placeholder="Username" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span><i class="fa fa-at"></i></span>
                                </div>
                                <input type="email" class="form-control" name="email" id="id_email" placeholder="Email" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span><i class="fa fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" name="password1" id="id_password1" placeholder="Password" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span><i class="fa fa-lock"></i></span>
                                </div>
                                <input type="password" name="password2" class="form-control" id="id_password2"
                                       placeholder="Confirm Password" required>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success">Sign up</button>

                        <span class="pull-right">Have an account? <a href="login.html">Sign in</a></span>

                    </form>
                    </div>
                </div>
        </div>
    </div>
    </div>


{% endblock content %}