/* INDEX PAGE STYLINGS */
ul.items{
    padding-bottom: 10px;
}
.inner-item-panel{
  padding-left: 10px;
  padding-right: 10px;
}


/* DASHBOARD STYLING */
.dashboard .top{
    margin-top: 40px;
}
.dashboard .add-new-list{
    padding: 20px;
}

/* SHOPPING LIST */
#shopping-list-form{
    width: 100%;
}

.shl-view, .shl-edit, .shl-share{
  padding-right: 10px
}

.shl-input{
  padding-left: 50px;
}

.table {
    border-bottom:0px !important;
}
.table th, .table td {
    border: 1px !important;
}
